@import "tailwindcss";

@theme {
    --color-ocean-core: #0070BE;
    --text-custom-xl: 22px;
    --text-custom-3xl: 28px;
    --text-custom-4xl: 32px;
    --text-custom-5xl: 56px;
    --text-custom-6xl: 67px;
    --leading-110: 110%;
}

